.container{
  margin : 5vw;
  width: 90vw;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  
  color: #EAEAEA;
}

.title{
    font-size: 48px;
    font-weight: bold;
    color: #EAEAEA;
    margin-bottom: 1rem;
    border-left: 4px solid;
    padding-left: 10px;
}

select {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;

  width: 220px;
  height: 43px;
  color: #EAEAEA;
  background: #3a3a3c;
  border: 1px solid #7c7c7d;
  border-radius: 4px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tierselect{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;

  width: 220px;
  height: 43px;

  background: #3A3A3C;
  border: 1px solid #7C7C7D;
  border-radius: 4px;
  color: #EAEAEA;

  flex: none;
  order: 0;
  flex-grow: 0;

  margin-bottom: 20px;
}

.checkbox{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;

  width: 25px;
  height: 25px;

  background: #3A3A3C;
  border: 1px solid #7C7C7D;
  border-radius: 4px;
  color: #EAEAEA;

  flex: none;
  order: 0;
  flex-grow: 0;

  margin-bottom: 20px;
}

.checkbox:checked {
    background-color: red;
}

.inputflex {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.button {
  background: #91282C;
  border-radius: 12px;
  color: #EAEAEA;
  border: none;
  width: auto;
  height: 50px;
  padding: 12px 36px;
  gap: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  margin-bottom: 30px;
}

.resetbutton {
  background: #3a3a3c;
  border-radius: 12px;
  color: #EAEAEA;
  border: none;
  width: auto;
  height: 50px;
  padding: 12px 36px;
  gap: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  margin-bottom: 30px;
}

.result{
  border-top: 2px solid #91282C;
  border-bottom: 2px solid #91282C;
  padding-top: 20px;
  padding-bottom: 20px;
}

.resultarea {
  background-color: #3A3A3C;
  color: #EAEAEA;
  padding: 10px 10px 10px 10px;
  gap: 32px;

  width: 90% ; /* 가로 100% */
  height: auto; /* 최소 높이를 설정하여 높이가 깨지지 않도록 */
  
  background: #3A3A3C;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}


.channelList {
  list-style: none;
  padding: 0 0 0 0;
  margin: 0 auto;
}

.channelItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3e3e3e;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 15px 20px; /* padding 조정 */
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: inset 0 -3px 0 #1e1e1e, 0 2px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.channelItem:last-child {
  margin-bottom: 0;
}

.channelName {
  color: #ffffff;
  flex: 1;
  margin-left: 20px; /* before와 간격 확보 */
}

.userCount {
  color: #ffcc00;
  font-weight: bold;
  margin-right: 20px; /* after와 간격 확보 */
}

.channelItem::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px; /* 크기 증가 */
  height: 10px;
  background-color: #5d5d5d;
  border-radius: 50%;
}

.green {
  color: #4caf50; /* 초록색 */
  font-weight: bold;
}

.yellow {
  color: #ffcc00; /* 노랑색 */
  font-weight: bold;
}

.red {
  color: #ff4444; /* 빨간색 */
  font-weight: bold;
}